body {
  font-family: verdana;
}

.cell {
  outline: 1px solid grey;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.grid {
  position: absolute;
  margin-top: 10%;
}

.main {
  display: flex;
  justify-content: center;
}

.starting-node {
  background-color: lightseagreen;
}

.ending-node {
  background-color: tomato;
}

.wall {
  background-color: black;
}

.visited {
  transition: 0.4s linear;
  background-color: dodgerblue;
}

.path {
  transition: 0.1s linear;
  background-color: yellow;
}

.controls {
}
